.sidebar {
  padding: 30px;
  background-color: #f7faff;
  position: fixed;
}
.sidebar-logo {
  width: 220px;
  background-color: #fff;
  padding: 30px 20px;
}
.sidebar-items {
  padding: 30px;
}
.accordion-title {
  display: flex;
  align-items: center;
}
