* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7faff;
}

main {
  flex: 1;
  display: flex;
}
.header-dashborard {
  width: 100%;
  height: 100vh;
  margin-right: 20px;
}
